body{
    font-family: 'poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: cornflowerblue ;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding-left: 3%;
}
.half-width img{
    width: 70%;
}

}